VITE_apiKey=your_api_key
VITE_authDomain=your_auth_domain
VITE_projectId=your_project_id
VITE_storageBucket=your_storageBucket
VITE_messagingSenderId=your_messagingSenderId
VITE_appId=your_appId
VITE_measurementId=your_measurementId
VITE_KAKAO_JAVASCRIPT_KEY=your_KAKAO_JAVASCRIPT_KEY